<div id="info-window-wrapper">
  <div class="info-window">
    <form name="marker-form">

      <div class="form-group">
        <textarea name="description" class="form-control custom-control" rows="5" cols="10" style="resize:none"></textarea>
      </div>

      <div class="form-group">
        {% for color in colors %}
          <input type="radio" {%if loop.first %}checked{% endif %} name="color" value="{{ color }}" class="color-input" id="color-{{loop.index}}">
          <label for="color-{{loop.index}}" class="label color-label" style="background-color: {{ color }};"> </label>
        {% endfor %}
      </div>

      <div class="btn-group" role="group">
        <button type="button" onclick="gMap.saveMarker()" class="btn btn-success">Zapisz</button>
        <button type="button" onclick="gMap.closeInfoWindow()" class="btn btn-warning">Anuluj</button>
        <button type="button" onclick="gMap.removeMarker()" class="btn btn-danger">Usuń</button>
      </div>
    </form>
  </div>
</div>
