{% extends 'base.html.twig' %}

{% block body %}
<div class="panel panel-primary search-form">
  <div class="panel-heading">Wyszukaj lokalizację</div>
  <div class="panel-body">

    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-map-marker"></span>
        </span>
        <input id="place" type="text" class="form-control" placeholder="Nazwa miejsca">
      </div>
    </div>

    <div class="form-group">
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#markers-list-collapse">
        Lista znaczników
      </button>
    </div>

    <div class="collapse" id="markers-list-collapse">
      <div class="markers-list-wrapper">
        <ul class="list-group" id="markers-list">
        </ul>
      </div>
    </div>


  </div>
</div>

<div id="map"></div>

{% include 'partials/infowindow.html.twig' %}

<script async defer src="https://maps.googleapis.com/maps/api/js?callback=gMap.initMap&libraries=places&sensor=false"></script>
{% endblock %}
