html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body{
  width: 100vw;
  height: 100vh;
}
#map{
  width: 100%;
  height: 100%;
}
#info-window-wrapper{
  display: none;
}
.info-window{
  max-width: 400px
}
.search-form{
  max-width: 350px;
  position: absolute;
  top: 1em;
  right: 1em;
  margin-left: 1em;
  z-index: 500;
}

.color-input{
  display: none;
}
.color-label{
  margin: 0.35em;
  padding: .75em !important;
  border: 1px solid rgba(0,0,0,0.5);
}
.color-label input{
  display: none;
}
input[type="radio"]:checked+label{
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.8);
}

.markers-list-wrapper{
  max-height: 75vh;
  overflow-y: auto;
}
.markers-list-wrapper .marker-item{
  cursor: pointer;
}